extends default

block body
    - produit = confiture.nom
    - img_path = `/img/${confiture.img_src}`
    - poids = confiture.poids
    - prix = confiture.prix
    - description = confiture.description
    - composition = confiture.composition
    
    +page_produit(produit, img_path, poids, prix, description, composition)
    
    +money_calc(prix.prix1)
          
