extends ../default

block body
    div.container
        p.alert.alert-info Cette page est destinée à etre protegée par id/mot de passe
    div.container.mt-3
        input.form-control#myInput(type="text" placeholder="Search..")
        br

        table.table.table-bordered.table-striped
            thead
                tr
                    th Prénom
                    th Nom
                    th Email
                    th Relation
            tbody#myTable
                tr
                    td John
                    td Doe
                    td John@example.com
                    td Fournisseur
                tr
                    td Mary
                    td Moe
                    td mary@mail.com
                    td Client
                tr
                    td July
                    td Dooley
                    td July@yahoo.fr
                    td Client
                tr
                    td James
                    td Cameron
                    td james.cameron@gmail.com
                    td Vendeur
                tr
                    td ka
                    td me
                    td ha
                    td me

    script.
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });