extends ../default
block body
    div.container.text-center(style="width:500px")
        if alert 
            if alert.status == "success"
                div.alert.alert-success=alert.msg
            if alert.status == "error"
                div.alert.alert-danger=alert.msg

        form(method="POST" action="/sign-in")
            // to style img : find color in hsl,name => hex => filter
            //hsl,name => hex https://www.w3schools.com/colors/colors_converter.asp
            //hex => filter https://codepen.io/sosuke/pen/Pjoqqp
            //red
            i.fa.fa-sign-in(style="font-size:36px")
            h1.h3.mb-3.font-weight-normal Sign in
            label(for="inputEmail").sr-only Email adress
            if data
                if data.email
                    input(type="email" id="inputEmail" value=`${data.email}` name="email" required).form-control

            else 
                input(type="email" id="inputEmail" placeholder="Email adress" name="email" required autofocus).form-control
            label(for="inputPassword").sr-only Password
            input.mt-2(type="password" id="inputPassword" placeholder="Password" name="password" required).form-control

            div.container.mb-4.mt-2
                a(href="/sign-up") New member? Sign up

            button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
            p.mt-4.mb-3.text-muted © 2020