extends default

block body
    div.container-fluid
        div.row.my-4
            div.col
                h4 Retrouvez mes confitures dans les magasins partenaires:
        div.row.my-4
            div.col
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22931.048605410975!2d4.556840987433521!3d44.07548754455964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b5b9f0c8dee3d5%3A0x4078821166b40e0!2s30330%20Gaujac!5e0!3m2!1sfr!2sfr!4v1587818349073!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
            div.col Magasin : chez maman /// adresse: 3 rue de la confiote
        div.row.my-4
            div.col iframe google
            div.col Magasin x adresse: y
        div.row.my-4
            div.col iframe google
            div.col Magasin x adresse: y
        div.row.mt-5 
            div.col
                h4 Vous souhaitez me contacter?
        div.row.mt-3
            div.col Contactez moi par mail : valerie.confiture@gmail.com
        div.row.my-3
            div.col Ou bien par telephone : 06 78 65 20 14
            
            
            
        