extends default

block body
    div.container.text-center(style="width:500px")
        form
            // to style img : find color in hsl,name => hex => filter
            //hsl,name => hex https://www.w3schools.com/colors/colors_converter.asp
            //hex => filter https://codepen.io/sosuke/pen/Pjoqqp
            //red
            img(src=`${icon}bootstrap-fill.svg` width="72" height="72" style="filter: invert(16%) sepia(88%) saturate(5542%) hue-rotate(357deg) brightness(103%) contrast(122%);")
            h1.h3.mb-3.font-weight-normal Please sign in
            label(for="inputEmail").sr-only Email adress
            input(type="email" id="inputEmail" placeholder="Email adress" required autofocus).form-control
            label(for="inputPassword").sr-only Password
            input(type="password" id="inputPassword" placeholder="Password" required).form-control

            div.my-3
                input(type="checkbox" value="remember-me" id="checkbox")
                label.ml-2(for="checkbox") Remember me
            button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
            p.mt-5.mb-3.text-muted © 2017-2019
    