extends default

block body
    - produit = confiserie.nom
    - img_path = `/img/${confiserie.img_src}`
    - prix = confiserie.prix
    - description = confiserie.description
    - composition = confiserie.compositiob
    
    +page_produit(produit, img_path, prix, description, composition)
    
    +money_calc(prix)
          