extends default

block body
    - const produit = confiserie.nom
    - const img_path = `/img/${confiserie.img_src}`
    - const poids = confiserie.poids
    - const prix = confiserie.prix
    - const description = confiserie.description
    - const composition = confiserie.compositiob
    
    +page_produit(produit, img_path, poids, prix, description, composition)
    
    +money_calc(prix.prix1)
          